{% load static %}
<!DOCTYPE html>
<html lang="en" class="graphics">
<head>
    <a href="{% url 'home' %}" style="color: white;">Regresar</a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficas</title>
    <link rel="stylesheet" href="{% static 'css/graphics.css' %}">
</head>
<body>
    <h1>Graficas</h1>
    <p>Introduzca la ecuacion:</p>
    <input type="text"> </input>
    <br>
    <button> Graficar </button>
    <br/>
    <div id="plot-container">
        <figure>
            <img src="data:image/png;base64,{{ grafico }}" alt="Gráfico">
        </figure>
    </div>
</body>
</html>